spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mariadb://{localhost}:3306/{Database_Name}
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver